.container {
    background-image: linear-gradient(#161616 0%, #222222 100%);
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 10px;
    background-color: green;
    width: 100vw;
    height: 100vh;
}

.flexItem {
    width: 100%;
    align-self: flex-start;
    text-align: justify;
    margin: 0px 10px;
    background-color: #161616;
}

#sudokuImage {
    height: auto;
    width: 40%;
}

#googlePlayBadge {
    height: auto;
    width: 40%;
}

#googlePlayBadge:hover {
    transform: scale(1.2);
}

.logo {
    height: auto;
    width: 10%;
}

.logo:hover {
    transform: scale(1.2);
}


@media only screen and (min-width: 768px) {
    .flexContainer {
        width: 768px;
    }

    .flexItem {
        width: 45%;
    }
}