.container {
    /* background-image: linear-gradient(#161616 0%, #222222 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: blue;
    height: 100%;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 10px;
    background-color: green;
    width: 100vw;
    height: 100%;
    padding: 10px;
}

.flexItem {
    width: 100%;
    align-self: flex-start;
    text-align: justify;
    line-height: 1.5;
    margin: 0px 4px;
    background-color: #161616;
}

#sudokuImage {
    height: auto;
    width: 40%;
}

#googlePlayBadge {
    height: auto;
    width: 40%;
}

#googlePlayBadge:hover {
    transform: scale(1.2);
}

.logo {
    height: auto;
    width: 10%;
}

.logo:hover {
    transform: scale(1.2);
}


@media only screen and (min-width: 768px) {
    .container {
        height: 100vh;
    }

    .flexContainer {
        width: 768px;
        height: 100%;
        flex-wrap: nowrap;
    }

    .flexItem {
        align-self: center;
        display: inline-block;
        width: max-content;
        height: 80%;
        /* width: 45%; */
    }

    #sudokuImage {
        height: 66vh;
        width: auto;
        /* height: auto;
        width: 300px; */
    }

    #googlePlayBadge {
        height: auto;
        width: 100%;
    }
}